In [30]:
import pandas as pd
import plotly.express as px
import plotly.io as pio
import plotly.graph_objects as go
pio.templates.default = "plotly_white"

In [31]:
data = pd.read_csv("rfm_data.csv")
print(data.head())

   CustomerID PurchaseDate  TransactionAmount ProductInformation  OrderID  \
0        8814   2023-04-11             943.31          Product C   890075
1        2188   2023-04-11             463.70          Product A   176819
2        4608   2023-04-11              80.28          Product A   340062
3        2559   2023-04-11             221.29          Product A   239145
4        9482   2023-04-11             739.56          Product A   194545

   Location
0     Tokyo
1    London
2  New York
3    London
4     Paris

## Calculating RFM values

### Recency

In [32]:
from datetime import datetime
# Converting Purchase column to a datetime object
data["PurchaseDate"] = pd.to_datetime(data["PurchaseDate"])
# Creating recency column
data["Recency"] = (datetime.now().date() - data["PurchaseDate"].dt.date).dt.days
print(data.head(2))

   CustomerID PurchaseDate  TransactionAmount ProductInformation  OrderID  \
0        8814   2023-04-11             943.31          Product C   890075
1        2188   2023-04-11             463.70          Product A   176819

  Location  Recency
0    Tokyo      158
1   London      158

### Frequency

In [33]:
frequencey_data = data.groupby("CustomerID")["OrderID"].count().reset_index()
frequencey_data.rename(columns = {"OrderID":"Frequency"}, inplace=True)
print(frequencey_data.head(3))

   CustomerID  Frequency
0        1011          2
1        1025          1
2        1029          1

In [34]:
data = data.merge(frequencey_data,on = "CustomerID", how ="left")
print(data.head(2))

   CustomerID PurchaseDate  TransactionAmount ProductInformation  OrderID  \
0        8814   2023-04-11             943.31          Product C   890075
1        2188   2023-04-11             463.70          Product A   176819

  Location  Recency  Frequency
0    Tokyo      158          1
1   London      158          1

### Monteray

In [35]:
monteray_data = data.groupby("CustomerID")["TransactionAmount"].sum().reset_index()
monteray_data.rename(columns = {"TransactionAmount":"MonteryValue"}, inplace = True)
print(monteray_data.head(3))

   CustomerID  MonteryValue
0        1011       1129.02
1        1025        359.29
2        1029        704.99

In [36]:
data = data.merge(monteray_data, on = "CustomerID", how = "left")
print(data.head(3))

   CustomerID PurchaseDate  TransactionAmount ProductInformation  OrderID  \
0        8814   2023-04-11             943.31          Product C   890075
1        2188   2023-04-11             463.70          Product A   176819
2        4608   2023-04-11              80.28          Product A   340062

   Location  Recency  Frequency  MonteryValue
0     Tokyo      158          1        943.31
1    London      158          1        463.70
2  New York      158          1         80.28

## Calculating RFM Score

In [41]:
# Defining the criteria for each RFM value
recency_score = [5,4,3,2,1] # The more recent customer get a higher recency score... the more recence value for the more recent customer will be lower
frequency_score = [1,2,3,4,5]
monetary_score = [1,2,3,4,5]

In [42]:
# Calculate RFM score
data["RecencyScore"] = pd.cut(data["Recency"], bins = 5, labels = recency_score)
data["FrequnceyScore"] = pd.cut(data["Frequency"], bins = 5, labels = frequency_score)
data["MonetaryScore"] = pd.cut(data["MonteryValue"], bins = 5, labels= monetary_score)

In [40]:
print(data.tail())

     CustomerID PurchaseDate  TransactionAmount ProductInformation  OrderID  \
995        2970   2023-06-10             759.62          Product B   275284
996        6669   2023-06-10             941.50          Product C   987025
997        8836   2023-06-10             545.36          Product C   512842
998        1440   2023-06-10             729.94          Product B   559753
999        4759   2023-06-10             804.28          Product D   467544

     Location  Recency  Frequency  MonteryValue RecencyScore FrequnceyScore  \
995    London       98          1        759.62            5              1
996  New York       98          1        941.50            5              1
997    London       98          1        545.36            5              1
998     Paris       98          1        729.94            5              1
999  New York       98          1        804.28            5              1

    MonetaryScore
995             2
996             2
997             2
998             2
999             2

In [43]:
# Converting RFM to numeric data type
data["RecencyScore"] = data["RecencyScore"].astype(int)
data["FrequnceyScore"] =data["FrequnceyScore"].astype(int)
data["MonetaryScore"] = data["MonetaryScore"].astype(int)

In [45]:
print(data.head())

   CustomerID PurchaseDate  TransactionAmount ProductInformation  OrderID  \
0        8814   2023-04-11             943.31          Product C   890075
1        2188   2023-04-11             463.70          Product A   176819
2        4608   2023-04-11              80.28          Product A   340062
3        2559   2023-04-11             221.29          Product A   239145
4        9482   2023-04-11             739.56          Product A   194545

   Location  Recency  Frequency  MonteryValue  RecencyScore  FrequnceyScore  \
0     Tokyo      158          1        943.31             1               1
1    London      158          1        463.70             1               1
2  New York      158          1         80.28             1               1
3    London      158          1        221.29             1               1
4     Paris      158          1        739.56             1               1

   MonetaryScore
0              2
1              1
2              1
3              1
4              2